<h2>All Celebrities</h2>
<% listCelebrities.forEach(element => { %>
<div>
  <p>Name: <%= element.name %></p>
  <p>Occupation: <%= element.occupation %></p>
  <p>Catch Phrase: <%= element.catchPhrase %></p>
</div>
<% }) %>
<a href="/celebrities/create">Insert a new Celebrity</a>
